@use '../../styles/tools' as *;

.header {
	background-color: $brand-color;
	display: grid;
	justify-content: center;
	min-height: 80px;
	color: #fff;

	&__container {
		display: grid;
		align-items: center;
	}

	.branding {
		display: flex;
		align-items: center;
		height: max-content;

		&__logo {
			width: max-content;
			font-size: 1.2rem;
			font-weight: normal;
		}

		&__seperator {
			border-right: 1px solid rgba(255, 255, 255, 0.4);
			margin: 0 16px;
			height: 28px;
		}
		&__obi {
			height: 28px;
			display: flex;
			align-items: center;

			img {
				width: 11rem;
				object-fit: contain;
			}
		}
	}

	&__desc {
		display: grid;
		grid-area: 2 / 1 / 2 / 3;
		margin-top: 1rem;
		padding: 1rem 0;

		align-items: center;
		font-weight: normal;
		font-size: 1rem;
		line-height: 150%;
		color: rgba(255, 255, 255, 0.9);
		max-width: 700px;
		width: 90vw;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: 400;
		align-self: flex-end;
		width: 100%;
	}

	&__search {
		@include search_button;
	}

	@include respond-to('lt-tablet') {
		display: flex;
		padding: 1rem 2rem;

		&__container {
			width: 100%;
			padding: 0;
			grid-template-columns: 1fr;
		}

		&__search {
			display: none;
		}
	}
}
