@use '../../styles/tools' as *;

.indicator {
	width: 100%;
	max-height: 400px;
	padding: 8px;
	background: #ffffff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
	border-radius: 12px;
	order: -1;

	&__wrapper {
		overflow-y: auto;
		height: 80%;
		padding-top: 0;
		-ms-overflow-style: none;
		scrollbar-width: none;
		border: none;

		&::-webkit-scrollbar {
			display: none;
		}

		@include respond-to('mt-laptop') {
			height: 89%;
		}

		label {
			margin: 1rem 0.25rem 0.25rem;
			width: 100%;
			display: flex;
			gap: 1rem;
			align-items: flex-start;
		}
	}

	@include respond-to('mt-laptop') {
		width: clamp(250px, 100%, 350px);
		max-height: 40rem;
		order: 0;
	}
}
