@use '../tools' as *;
@use '../../components/skiplink/skiplink';
@use '../../components/header/header';
@use '../../components/card/card';
@use '../../components/footer/footer';

.home {
	min-height: calc(100vh - 80px);

	&__cards {
		margin: 2rem auto;
		display: grid;
		grid-template-rows: max-content;
		grid-template-columns: repeat(4, 1fr);
		gap: 1rem;
		padding-left: 0;

		@include respond-to('lt-desktop') {
			grid-template-columns: repeat(3, 1fr);
		}

		@include respond-to('lt-tablet') {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
