@use '../tools' as *;
@use '../../components/schemeIntroduction/schemeIntroduction';
@use '../../components/dropdown/dropdown';
@use '../../components/datavizViewControls/datavizViewControls';
@use '../../components/indicatorSelector/indicatorSelector';
@use '../../components/schemeDetailsView/schemeDetailsView';
@use '../../components/searchBar/searchBar';
@use '../../components/indicatorRadioButton/indicatorRadioButton';
@use '../../components/views/views';
@use '../../components/relatedSchemes/relatedSchemes';
@use '../../components/schemeNews/schemeNews';
@use '../../components/state/relatedStates/relatedStates';

.scheme {
	min-height: calc(100vh - 80px);

	&__container {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: 300px minmax(0, 1fr);

		@include respond-to('lt-laptop') {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, max-content);
		}

		.dataVizControl {
			grid-column: 1/3;
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			justify-content: space-between;
			align-items: center;

			button {
				background-color: #ffffff;
				border-radius: 8px;
				padding: 0.5rem 0.8rem;
				font-size: 0.8rem;
				margin-right: 8px;
			}
		}
	}

	&__viz {
		display: flex;
		gap: 1.5rem;

		@include respond-to('lt-laptop') {
			flex-wrap: wrap;
		}
	}
}
