@use '../../styles/tools' as *;

.schemes__details {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;

  .details {
    &__header {
      padding: 0.5rem 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      h3 {
        font-size: 16px;
        font-weight: 700;
      }

      button {
        padding: 0;
        background: none;
        border: none;
        outline: none;
        text-align: right;
        text-decoration: underline;
        font-size: 16px;
        color: #4b4797;
      }

      &--viz-show {
        p {
          font-size: 0.8rem;
          color: rgba(0, 0, 0, 0.7);
          margin-top: 0.25rem;
        }

        &.text-end{
          text-align: end;
        }
      }
    }

    &__visualisation {
      background: #f7fafc;
      padding: 16px;
      height: 500px;
    }

    &__info {
      padding: 8px 16px;

      p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.7);
      }

      .text-dark {
        color: #000000;
      }
    }
    &__title {
      font-size: 16px;
      font-weight: 700;
      color: #000000;
    }
  }
}

#report-container {
  background: #ffffff;
}

#vis-container {
  min-height: 430px;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
