@use '../../styles/tools' as *;

.news {
	margin: 3rem 0;

	&__heading {
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;

		h3 {
			font-size: 1.5rem;
			font-weight: 400;
		}

		a {
			color: #004fa4;
		}
	}

	&__container {
		display: grid;
		gap: 2rem;
		padding-left: 0;
		justify-content: flex-start;
	}

	&__card {
		background: #ffffff;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
		border-radius: 12px;
		padding: 1rem 0.75rem;
		border: 2px solid #ffffff;
		max-width: 640px;

		&:hover {
			border-color: #4b4797;
			box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
			border-radius: 12px;
			cursor: pointer;
		}

		&:last-of-type {
			grid-column: 2/3;
		}
	}

	&__link {
		display: grid;
		gap: 0.5rem;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	&__text {
		line-height: 150%;
		overflow: hidden;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		-webkit-box-orient: vertical;
		display: -webkit-box;
	}

	&__title {
		font-weight: 600;
		line-height: 150%;
		overflow: hidden;
		-webkit-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box;
	}

	&__accessed {
		align-self: flex-end;
		margin-top: 1rem;
		color: rgba(13, 16, 24, 0.7);
		font-size: 0.8rem;
	}

	&__controls {
		@include control-button;
	}

	&__back {
		margin-right: 0.5rem;
	}
}
