.schemes-details-view-wrapper {
  width: 100%;
  /* height: 520px; */
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.schemes-details-view-wrapper .introduction-container{
  padding: 8px 16px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.schemes-details-view-wrapper .introduction-container h2{
  font-size: 16px;
  font-weight: 700;
}
.schemes-details-view-wrapper .introduction-container p{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.64);
}
.schemes-details-view-wrapper .introduction-container button{
  padding: 0;
  background: none;
  border: none;
  outline: none;
  text-align: right;
  text-decoration: underline;
  font-size: 16px;
  color: #4B4797;
}
.schemes-details-view-wrapper .visualisation-container{
  background: #F7FAFC;
  padding: 16px;
  height: 500px;
}
.schemes-details-view-wrapper .data-source-info{
  padding: 8px 16px;
}
.schemes-details-view-wrapper .data-source-info p{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.64);
}
#vis-container {
  min-height: 430px;
  /* border-bottom: 1px solid rgba(0, 0, 0, .3); */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#vis-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



@media(min-width: 768px) and (max-width:1279px){
  .schemes-details-view-wrapper{
    margin-top: 24px;
  }
}

@media(min-width: 1280px){
  .schemes-details-view-wrapper{
    margin-left: 32px;
    width: 832px;
    height: auto;
  }
}

@media(min-width: 1440px){
  .schemes-details-view-wrapper{
    max-width: 976px;
    width: 74.4%;
  }
}