.radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
    color: #4B4797;
    cursor: pointer;
    margin: 0;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: #4B4797;
    color: white;
  }

.left-curved-border{
    border-radius: 8px 0px 0px 8px !important;
}

.right-curved-border{
    border-radius: 0px 8px 8px 0px !important;      
}