.scheme-card {
  box-sizing: border-box;
  padding: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  border: 2px solid transparent;
  min-height: 216px;
  min-width: 260px;
  max-width: 308px;
}

.scheme-card:hover {
  border: 2px solid #4b4797;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  cursor: pointer;
}

.scheme-card .image-container {
  width: 100%;
  height: 112px;
  background: #f0f3f5;
  border-radius: 8px;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}

.scheme-card .text-container h4{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 16, 24, 0.87);
    text-decoration: underline;
    text-align: center;
}

.scheme-card.card-link-container:hover,
.scheme-card.card-link-container:focus,
.scheme-card.card-link-container:active,
.scheme-card.card-link-container:visited {
  text-decoration: none;
}

@media(min-width: 1440px){
  .scheme-card{
    width: 25%;
  }
}