.indicator-sidebar-wrapper {
  width: 100%;
  height: 412px;
  padding: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.indicator-radio-button-list{
  overflow-y: auto;
  height: 80%;
  padding-top: 0 !important;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.indicator-radio-button-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


@media(min-width: 1280px){
  .indicator-sidebar-wrapper{
    width: 256px;
    height: 652px;
  }
  .indicator-radio-button-list{
    height: 89%;
  }
}

@media(min-width: 1440px){
  .indicator-sidebar-wrapper{
    max-width: 304px;
    width: 23.2%;
    height: 628px;
  }
}